@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(15,39,63);
background: -moz-linear-gradient(90deg, rgba(15,39,63,1) 0%, rgba(22,68,112,1) 50%, rgba(32,110,187,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(15,39,63,1) 0%, rgba(22,68,112,1) 50%, rgba(32,110,187,1) 100%);
background: linear-gradient(90deg, rgba(15,39,63,1) 0%, rgba(22,68,112,1) 50%, rgba(32,110,187,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f273f",endColorstr="#206ebb",GradientType=1);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
